imageio==2.22.2
lxml==4.9.1
matplotlib==3.6.1
nerfacc==0.3.2
numpy==1.23.3
omegaconf==2.2.3
open3d==0.15.2
opencv_contrib_python==4.6.0.66
Pillow==9.2.0
PyMCubes==0.1.2
pymeshlab==2022.2.post2
pyrender==0.1.45
pytorch_lightning==1.7.7
six==1.16.0
torch==1.11.0
torchvision==0.12.0

